<section>
  <div class="l-container l-vertical-space">
    {% if content.top %}
      <header {{ region_attributes.top.addClass('layout__region', 'layout__region--top', 'u-centered') }}>
        {{ content.top }}
      </header>
    {% endif %}

    {% if content.nav %}
      <nav {{ region_attributes.nav.addClass('layout__region', 'layout__region--nav', 'portfolio-menu__nav') }}>
        {{ content.nav }}
      </nav>
    {% endif %}

    <div class="portfolio">
      {% if content.first %}
        {{ content.first }}
      {% endif %}

      {% if content.second %}
        {{ content.second }}
      {% endif %}

      {% if content.third %}
        {{ content.third }}
      {% endif %}
    </div>

    {% if content.link %}
      <div {{ region_attributes.link.addClass('layout__region', 'layout__region--link') }}>
        {{ content.link }}
      </div>
    {% endif %}
  </div>
</section>