{# a component for the intro section #}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'intro__overlap'
  ]
%}
<header {{ attributes.addClass(classes) }}>
{{ title_suffix }}
  <div class="intro__front">
    <h1 class="front__title">{{ content.field_primary_title.0 }}</h1>
    <p>{{ content.field_secondary_title.0['#context'].value|striptags('&amp;')|raw }}</p>
  </div>
  <span class="intro__back">{{ content.field_section_title.0 }}</span>
{{ content|without('field_primary_title', 'field_secondary_title', 'field_section_title') }}
</header>

